@charset "utf-8";
@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #333;}
ul, li {list-style: none;}
img {vertical-align: top;}
.wrap {width: 100%;}
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--transDur: 0.1s;
	font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
}
body {
	background-color: var(--bg);
	background-image: linear-gradient(90deg,#0000003f,transparent);
	height: 100vh;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: #333;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 999;
    	background-color: var(--bg);
	background-image: linear-gradient(90deg,#0000003f,transparent);
}
header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
	font-family: input-mono, monospace;
	font-weight: 200;
	font-style: normal;
	font-size: 34px;
}
body, form {
	display: flex;
}
body, input {
	color: var(--fg);
	font: 1em/1.5 Helvetica, sans-serif;
}
form, label {
	width: 100%;
}
form {
	margin: auto;
	max-width: 24em;
	padding-top: 36px;

}
label {
	display: block;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
label:first-child input {
	border-radius: 0.5em 0 0 0.5em;
	box-shadow:
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset,
		-0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input {
	border-radius: 0 0.5em 0.5em 0;
	box-shadow:
		0 -0.1em 0 #926086 inset,
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #2726267f inset,
		0 0.1em 0 #afa490 inset,
		-0.1em 0 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
label:first-child input:checked {
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset,
		-0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input:checked {
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 -0.1em 0 #722257 inset,
		0 0.1em 0 #847a62 inset,
		-0.1em 0 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
input {
	background-image: linear-gradient(#ffffff 33%,#414751 58%,#837b52,#c5baa1,#c3adaa);
	border-radius: 0;
	box-shadow:
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset,
		-0.1em -0.2em 0 #ffffff7f inset;
	cursor: pointer;
	display: block;
	/* margin-bottom: 0.5em; */
	width: 100%;
	height: 1em;
	transition: box-shadow var(--transDur) ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:checked {
	background-image: linear-gradient(#ffffff 33%,#414751 58%,#827a7b,#c0b6ac,#c3adaa);
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset,
		-0.1em -0.2em 0 #ffffff7f inset;
}
input:checked + span {
	opacity: 1;
}
input:focus {
	outline: transparent;
}
input + span {
	opacity: 0.65;
	transition: opacity var(--transDur) ease-in-out;
}
span {
	font-family: input-mono, monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
}

/* footer */
footer {}
.contact {
	display: flex;
	gap: 15px;
	justify-content: center;
}
.contact .img_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 50px;
	text-align: center;
}
.contact .img_wrap img {
	width: 100%;
	object-fit: cover;
}
p {
	font-family: input-mono, monospace;
	font-weight: 300;
	font-size: 15px; 
	text-align: center; 
	padding: 20px 0;
}